build
.gradle
.idea/$PRODUCT_WORKSPACE_FILE$

.idea/dataSources*
.idea/copyright
.idea/uiDesigner.xml
.idea/libraries
.idea/modules
.idea/modules.xml
.idea/gradle.xml
.idea/kotlinc.xml
.idea/workspace.xml
.idea/compiler.xml
.idea/scala_compiler.xml
.idea/misc.xml
.idea/appercut.iml
.idea/artifacts
.idea/jarRepositories.xml

*.iml

*.log
*.log.*

/test_data
*.tokens
*.interp
**/src/main/gen/**
